#Producto .container
 {
    display: flex;
    justify-content: center;
}

#Producto .texto {
    width: 30%;
    text-align: center;
    background-color: blue;
}
html *
{
    font-size: 62.5;
}






/*reglas generales*/

/*Media Query*/

/** Reescribir colores */

/** Productos */
