#Producto .container
 {
    display: flex;
    justify-content: center;
}

#Producto .texto {
    width: 30%;
    text-align: center;
    background-color: blue;
}
#columna1 .container {
    display: flex;
    column-gap: 30px;
    text-align: center
    ;
}
#columna1 .columna1 {
    background-color: blue;

}

#columna1 .columna2 {
    background-color: blue;
}

#columna2 .container {
    display: flex;
    column-gap: 30px;
    text-align: center;
}

#columna2 .columna4 {
    background-color: blue;
}

#columna2 .columna5 {
    background-color: blue;
}

#columna2 .columna6 {
    background-color: blue;
}

.titulo2 {
    text-align: center;
}

#Categorias .container {
    display: flex;
    column-gap: 30px;
    text-align: center;
}

.end {
     display: flex;
    text-align: center;
    column-gap: 400px;
}   

.footer {
   
}

button {
    font-size: 1em;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 15px;
    border: 2px 2px 10px  rgba(0,0,0,0,3);
    box-shadow: 2xp 2xp 10px rgba(0,0,0,5);
    color: black;
    background-color: rgb(0, 255, 85);

}

button:hover{
    background-color: blue;
}
/*reglas generales*/

/*Media Query*/

/** Reescribir colores */

/** Productos */
